#jailbreak
.theos
**/obj
**/packages

#cocoapods
Pods

#project
**/*.xccheckout
**/*.xcscmblueprint
**/contents.xcworkspacedata
**/xcuserdata/*

#merge 
**/*.orig

node_modules/*

.vscode/
ios/build/
tsconfig.json
typings/
ios/npm-debug.log
npm-debug.log
